:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
  
body {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
  
.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--mds-color-theme-background-solid-primary-normal);
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0px 32px;
}

.layout {
  display: flex;
  height: 100%;
}

.chooser {
  flex-shrink: 0;
  width: 320px;
  background: linear-gradient(180deg, var(--mds-color-theme-background-solid-secondary-normal) 0%, var(--mds-color-theme-background-solid-primary-normal) 100%);
  padding-top: 5px;
}

.listItem {
  color: var(--mds-color-theme-text-primary-normal);
  background-color: var(--mds-color-theme-button-inverted-normal);
  width: calc(100% - 34px);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin: 0px 5px 5px 5px;
  border-radius: 8px;
}
.listItem:hover{
  background-color: var(--mds-color-theme-button-inverted-hover);
}
.listItem:active{
  background-color: var(--mds-color-theme-button-inverted-pressed);
}

#frame {
  width: 100%;
  background-image: url('./background-graphic.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.theme-switch-button {
  margin-left: auto;
  appearance: none;
  outline: none;
  border: none;
  height: 24px;
  background-color: var(--mds-color-theme-button-primary-normal);
  color: var(--mds-color-theme-text-inverted-normal);
}
.theme-switch-button:hover {
  background-color: var(--mds-color-theme-button-primary-hover);
}

.theme-switch-button:active {
  background-color: var(--mds-color-theme-button-primary-pressed);
}

