.headerWrapper {
    flex-basis: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerText {
    margin-left: 1.5rem;
}

.headerLogo {
    height: 2rem;
    width: 6.875rem;
    margin-right: 1.25rem;
}